---
import ContentLayout from '../../layouts/ContentLayout.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { MoveLeft } from 'lucide-astro';


export async function getStaticPaths() {
    const guides: CollectionEntry<'guides'>[] = await getCollection('guides')
    return guides.map(guide => ({
        params: { guides: guide.slug },
        props: { guide },
    }))
}

const { guide } = Astro.props as { guide: CollectionEntry<'guides'> }
const { Content } = await guide.render()
---

<ContentLayout 
  title={guide.data.title}
 
>
<a href="/guides" class="text-neutral-500 hover:text-neutral-50 text-xs mb-4 z-50">
  <h2> <MoveLeft class="w-4 h-4 inline-block" /> Back to Guides</h2>
</a>
  <Content />
</ContentLayout>