---
import Menu from "./Menu.astro";
---


<div class="flex fixed left-1/2 -translate-x-1/2 max-w-4xl w-full mx-auto justify-end top-2">
    <Menu />
</div>
<div class="flex fixed bottom-2 w-full justify-between px-4 items-end ">
    <div class="w-1/4">
        <h2 class="text-neutral-500 text-xs">Computational Engineer</h2>
        <h1 class="text-neutral-50 text-xl">Daniel Charles Madeley</h1>
    </div>
   
    <div class="flex gap-2 w-1/4 justify-end">
        <a href="https://github.com/mxdeley" class="text-neutral-500 text-xs hover:text-neutral-50">GitHub</a>
        <a href="https://www.x.com/danielcmadeley/" class="text-neutral-500 text-xs hover:text-neutral-50">X</a>
    </div>
</div>