---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const prints: CollectionEntry<'prints'>[] = await getCollection("prints");
---

<Layout title="3D Prints">
	<Navbar />
	<main class="flex flex-col items-start justify-center max-w-3xl mx-auto p-4">
		<h1 class="text-lg font-bold text-neutral-50 text-left pb-4">3D Prints</h1>
		
		<div class="flex flex-col w-full">
			{prints.map((print) => (
				<article class="border-b-[1px] border-neutral-50/50 p-4 hover:shadow-lg transition-shadow">
					<a href={`/3d-prints/${print.slug}`}>
						<h2 class="mb-2 text-neutral-200 text-sm">{print.data.title}</h2>
						{print.data.description && (
							<p class="text-neutral-500 text-xs">{print.data.description}</p>
						)}
					</a>
				</article>
			))}
		</div>
	</main>
</Layout>