<div class="w-full border-t border-stone-700">
    <div class="max-w-3xl mx-auto px-12 py-2 flex justify-start items-center">
        <p class="text-xs text-stone-500">
            <a
                href="mailto:daniel@madeleydesignstudio.com"
                class="hover:text-stone-400 transition-colors"
            >
                daniel@madeleydesignstudio.com
            </a>
        </p>
    </div>
</div>
