---
import { Menu as MenuIcon, X as XIcon } from 'lucide-astro';
---

<style>
  [x-cloak] {
    display: none !important;
  }
</style>

<div x-data="{ isOpen: false }" class="relative">
  <!-- Menu button -->
  <button
    @click="isOpen = !isOpen"
    class="text-neutral-500 hover:text-neutral-50/50 focus:outline-none"
    aria-label="Toggle menu"
  >
    <MenuIcon x-show="!isOpen" class="w-5 h-5" />
    <XIcon x-cloak x-show="isOpen" class="w-5 h-5" />
  </button>

  <!-- Navigation links -->
  <nav
    x-cloak
    x-show="isOpen"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 transform translate-y-[-10px]"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition ease-in duration-150"
    x-transition:leave-start="opacity-100 transform translate-y-0"
    x-transition:leave-end="opacity-0 transform translate-y-[-10px]"
    @click.away="isOpen = false"
    class="absolute right-0 mt-2 w-fit flex flex-col items-end bg-neutral-900 rounded-md  border-[1px] border-neutral-50/50"
  >
    <a href="/about" class="block text-xs px-4 py-2 text-neutral-500 hover:text-neutral-50">About</a>
    <a href="/projects" class="block text-xs px-4 py-2 text-neutral-500 hover:text-neutral-50">Projects</a>
    <a href="/guides" class="block text-xs px-4 py-2 text-neutral-500 hover:text-neutral-50">Guides</a>
    <a href="/thoughts" class="block text-xs px-4 py-2 text-neutral-500 hover:text-neutral-50">Thoughts</a>
    <a href="/3d-prints" class="block text-xs px-4 py-2 text-neutral-500 hover:text-neutral-50">3D Prints</a>
  </nav>
</div> 