<div class="grid grid-cols-3 grid-rows-2 w-full border rounded-lg overflow-hidden">
    <div class="border-r border-b p-4">001</div>
    <div class="border-r border-b p-4">002</div>
    <div class="border-b p-4">003</div>
    <div class="border-r p-4">004</div>
    <div class="border-r p-4">005</div>
    <div class="p-4">006</div>
</div>

