<div class="grid grid-cols-2 w-full text-sm">
    <div>
        <h3 class="text-stone-400">Structural</h3>

        <ul>
            <li>F1 Teams</li>
            <li>London Residential Tower Blocks</li>
            <li>NHBC Housing Estates</li>
        </ul>
    </div>
    <div>
        <h3 class="text-stone-400">Software</h3>
        <ul>
            <li>
                <a href="https://itsformandfunction.com">Form and Function</a>
            </li>
            <li><a href="https://getordo.co">Ordo</a></li>
            <li><a href="https://digitaldino.co">Digital Dino</a></li>
            <li>
                <a href="https://madeleydesignstudio.com"
                    >Madeley Design Studio</a
                >
            </li>
        </ul>
    </div>
</div>
