<div class="grid grid-cols-2 w-full text-sm">
    <div>
        <h3 class="text-stone-400">Structural</h3>

        <ul>
            <li>Test</li>
            <li>Test</li>
        </ul>
    </div>
    <div>
        <h3 class="text-stone-400">Software</h3>
        <ul>
            <li>Test</li>
            <li>Test</li>
        </ul>
    </div>
</div>
