---
import FeaturedProject from "./FeaturedProject.tsx";
---

<div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 w-full text-sm gap-6 md:gap-12">
    <div class="md:col-span-2 md:row-span-2">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 md:gap-12 h-full">
            <a href="/thoughts-and-writings" class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-xl flex flex-col h-full"> 
                <h2>Thoughts and Writings</h2>
                <img src="/Notebook.svg" alt="Thoughts and Writings" class="object-cover mt-auto self-end">
            </a>
           
            <a href="/work-with-me" class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-xl flex flex-col h-full">
                <h2>Work with me</h2>
                <img src="/Caliper.svg" alt="Work with me" class="object-cover mt-auto self-end">
            </a>
            <a href="/projects" class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-xl flex flex-col h-full">
                <h2>Projects</h2>
                <img src="/House.svg" alt="Projects" class="object-cover mt-auto self-end">
            </a>
            <a href="/work-experience" class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-xl flex flex-col h-full">
                <h2>Work Experience</h2>
                <img src="/F1-Car.svg" alt="Work Experience" class="object-cover mt-auto self-end">
            </a>
        </div>
    </div>
    <div class="md:col-span-1 md:row-span-2 border rounded-md bg-[#335D9B]/3 backdrop-blur-md flex flex-col h-full min-h-[200px]">
        <FeaturedProject client:load />
    </div>
</div>
