<div class="grid grid-cols-3 grid-rows-2 w-full text-sm gap-12">
    <div class="col-span-2 row-span-2">
        <div class="grid grid-cols-2 grid-rows-2 gap-12 h-full">
            <a href="/thoughts-and-writings" class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-xl"> 
                <h2 >Thoughts and Writings</h2>
                <img src="/Notebook.svg" alt="Thoughts and Writings" class=" object-cover">
         
        </a>
           
            <div class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-md">
                <a href="https://getordo.co">Work with me</a>
                <img src="/Caliper.svg" alt="Work with me" class=" object-cover">

            </div>
            <div class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-md">
                <a href="https://digitaldino.co">Projects</a>
                <img src="/House.svg" alt="Projects" class=" object-cover">

            </div>
            <div class="border-gradient rounded-md p-4 bg-[#E5E5E5]/3 backdrop-blur-md">
                <a href="https://madeleydesignstudio.com">Work Experience</a>
                <img src="/F1-Car.svg" alt="Work Experience" class=" object-cover">

            </div>
        </div>
    </div>
    <div class="col-span-1 row-span-2 border rounded-md bg-[#335D9B]/3 backdrop-blur-md">
        <h3 class="text-stone-400">Featured Project</h3>
        <img src="/Development.svg" alt="Featured Project" class=" object-cover">
    </div>
</div>
