---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="flex flex-col gap-4">
    <h2 class="text-xs text-stone-400">Daniel Charles Madeley</h2>
    <h1 class="text-lg text-stone-100">Computational Engineer</h1>
    <p class="text-xs text-stone-200">
        I apply computational thinking and programming skills to design
        challenges, combining my structural engineering background with
        self-taught software development expertise in Python and TypeScript. I
        bridge traditional engineering design with modern computational tools,
        creating both physical structures and digital solutions.
    </p>
    <div class="grid grid-cols-2 w-full text-xs">
        <div>
            <h3 class="text-stone-400">Structural</h3>

            <ul>
                <li>Test</li>
                <li>Test</li>
            </ul>
        </div>
        <div>
            <h3 class="text-stone-400">Software</h3>
            <ul>
                <li>Test</li>
                <li>Test</li>
            </ul>
        </div>
    </div>
</div>
