---

---

<div class="flex flex-col gap-4">
    <h2 class="text-sm text-stone-400">Daniel Charles Madeley</h2>
    <h1 class="text-xl text-stone-100">Computational Engineer</h1>
    <p class="text-sm text-stone-200">
        I apply computational thinking and programming skills to design
        challenges, combining my structural engineering background with
        self-taught software development expertise in Python and TypeScript. I
        bridge traditional engineering design with modern computational tools,
        creating both physical structures and digital solutions.
    </p>
</div>
