---
import ContentLayout from '../../layouts/ContentLayout.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { MoveLeft } from 'lucide-astro';


export async function getStaticPaths() {
    const projects: CollectionEntry<'projects'>[] = await getCollection('projects')
    return projects.map(project => ({
        params: { projects: project.slug },
        props: { project },
    }))
}

const { project } = Astro.props as { project: CollectionEntry<'projects'> }
const { Content } = await project.render()
---

<ContentLayout 
  title={project.data.title}
 
>
<a href="/projects" class="text-neutral-500 hover:text-neutral-50 text-xs mb-4 z-50">
  <h2> <MoveLeft class="w-4 h-4 inline-block" /> Back to Projects</h2>
</a>
  <Content />
</ContentLayout>