---
import Layout from "../../layouts/Layout.astro";

---

<Layout>
    <h2 class="text-2xl font-bold pt-12">Projects</h2>

    <div class="flex py-4">
        <div class="grid grid-cols-3 grid-rows-2 w-full border rounded-lg overflow-hidden">
        <div class="border-r border-b p-4 relative aspect-square group">
            <img src="/cadillac.png" alt="Work with me" class="absolute inset-0 w-full h-full object-cover">
            <div class="absolute inset-0 bg-[#525252]/30 z-[10] hover:bg-[#525252]/0 transition-all duration-300"></div>
            <div class="absolute inset-0 bg-gradient-to-t from-[#525252] to-[#525252]/0 z-[5] "></div>
            <span class="relative z-10">001</span>
        </div>
        <div class="border-r border-b p-4 relative aspect-square group">
            <img src="/williams-performance.png" alt="Work with me" class="absolute inset-0 w-full h-full object-cover">
            <div class="absolute inset-0 bg-[#525252]/30 z-[10] hover:bg-[#525252]/0 transition-all duration-300"></div>
            <div class="absolute inset-0 bg-gradient-to-t from-[#525252] to-[#525252]/0 z-[5] "></div>
            <span class="relative z-10">002</span>
        </div>
        <div class="border-r border-b p-4 relative aspect-square group">
            <img src="/form+function.png" alt="Work with me" class="absolute inset-0 w-full h-full object-cover">
            <div class="absolute inset-0 bg-[#525252]/30 z-[10] hover:bg-[#525252]/0 transition-all duration-300"></div>
            <div class="absolute inset-0 bg-gradient-to-t from-[#525252] to-[#525252]/0 z-[5] "></div>
            <span class="relative z-10">003</span>
        </div>
       
        <div class="border-r p-4 aspect-square">004</div>
        <div class="border-r p-4 aspect-square">005</div>
        <div class="p-4 aspect-square">006</div>
    </div>
    </div>
    
    
    
</Layout>